<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
  <appSettings>
    <add key="url" value="https://drive.google.com/a/softland.la/file/d/0B4cEQ98GCGgbUVpycFoxbG5ZN0k/view?pref=2&pli=1"/>
    <add key="destino" value="r.g.joseignacio@gmail.com"/>
    <add key ="tiempo" value ="60000"/>
  </appSettings>
</configuration>